################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpp/ConsoleApplication/.vs/
cpp/ConsoleApplication/ConsoleApplication/ConsoleApplication.vcxproj.user
cpp/ConsoleApplication/ConsoleApplication/x64/Debug/
cpp/ConsoleApplication/x64/Debug/
